﻿<div class="app-wrapper">
  <section class="sidebar">
    <h2>Мои данные</h2>
    <ul>
      <li>
        <a routerLink="/users" routerLinkActive="active">Мой профиль</a>
      </li>
      <li>
        <a routerLink="/users/score">Личный счет</a>
      </li>
      <li>
        <a routerLink="/users/ads">Мои объявления</a>
      </li>
    </ul>
  </section>

<div class="p-4 content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
</div>
