<h1>Личный счет</h1>

<div class="form-group">
  <label for="score">Номер счета: "{{score}}"
    <input id="score" type="text" class="form-control" placeholder="Сумма пополнения" />
  </label>

  <button class="btn btn-primary">
    <span class="spinner-border-sm mr-1"></span>
    Пополнить
  </button>
</div>
