.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 650px;
}

.card-auto {
  display: flex;
  align-items: center;

  mat-radio-group {
    margin: 10px;
  }
}
.example-card {
  max-width: 400px;
  margin: 15px 10px;
}

.info {
  list-style: none;
  padding-left: 15px;

  .info-title {
    font-size: 24px;
    padding-bottom: 15px;
    color: #3f51b5;
  }
  .price {
    font-size: 22px;
    color: green;
  }
}
