.navbar {
  margin-bottom: 8px;
  background: #3f51b5;

  .navbar-brand {
    font-size: 30px;
  }
  .navbar-user {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;

    .user-name {
      font-size: 18px;
      margin-bottom: 0;
      padding: .5rem 1rem;
    }
    .nav-item {
      color: #fff;
    }
  }
}
