﻿<!-- nav -->
<nav class="navbar navbar-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="navbar-brand" routerLink="/">MeGa Auto</a>
  </div>
    <div class="navbar-user">
      <h1 class="user-name">{{user.firstName}}</h1>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Личный кабинет</a>
        <a class="nav-item nav-link" (click)="logout()">Выход</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container">
  <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
