.app-wrapper {
  display: grid;
  grid-template-areas:
    "bl c br";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 7fr 3fr;
  grid-gap: 10px;
  //height: 90vh;
}

.sidebar {
  display: grid;
  grid-area: bl;
  background: #3f51b5;

  .example-button-row {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    button {
      outline: none;
      margin: 5px;
    }
  }
}

.sidebar-right {
  display: grid;
  grid-area: br;
}

.content {
  //display: grid;
  grid-area: c;
  background: #f5f5f5;
}
