﻿<div class="app-wrapper">
  <section class="sidebar">
    <div class="example-button-row">
      <button mat-raised-button color="basic">Auto.Ria</button>
    </div>
  </section>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

<div class="sidebar-right">
  <app-card-auto></app-card-auto>
</div>

</div>
